/GNUmakefile
/build/
/.cache/
/.vscode/
/tests/gevico/firmware/gpgpu/build/
/tests/gevico/firmware/gpgpu/linux/build/
/tests/gevico/firmware/gpgpu/linux/demo/build/
/tests/gevico/firmware/gpgpu/linux/libgpgpu/build/
/tests/gevico/firmware/gpgpu/linux/sysroot/
/tests/gevico/firmware/gpgpu/linux/gpgpu_kmod/*.cmd
/tests/gevico/firmware/gpgpu/linux/gpgpu_kmod/*.ko
/tests/gevico/firmware/gpgpu/linux/gpgpu_kmod/*.mod
/tests/gevico/firmware/gpgpu/linux/gpgpu_kmod/*.mod.c
/tests/gevico/firmware/gpgpu/linux/gpgpu_kmod/*.o
/tests/gevico/firmware/gpgpu/linux/gpgpu_kmod/Module.symvers
/tests/gevico/firmware/gpgpu/linux/gpgpu_kmod/modules.order
*.pyc
.sdk
.stgit-*
.git-submodule-status
.clang-format
.gdb_history
cscope.*
tags
TAGS
GPATH
GRTAGS
GTAGS
*~
*.ast_raw
*.depend_raw
*.swp
*.patch
*.gcov
